<header class="bar-header">
    <a id="menu" role="button">
        <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
    </a>
    <h1 class="logo">
        <a href="{{ site.baseurl }}/">
            {% if site.use_logo %}
                {% include logo.html %}
            {% else %}
                {{ site.name }} <span class="version">{{ site.version }}</span>
            {% endif %}
        </a>
    </h1>
    <a id="search" class="dosearch" role="button">
        <svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
    </a>
    <!-- Foto rotonda con tooltip -->
     {% assign first_post = site.posts.first %}
    <a href="https://keyfeatureslab.com/welcome-to-the-desert-of-the-real/" class="profile-link">
        <img src="/assets/images/KeyFeaturesLab logo.png" alt="Who am I?" class="profile-pic" />
        <span class="profile-tooltip">who am I?</span>
    </a>
</header>

<div id="mask" class="overlay"></div>

{% include menu.html %}
{% include search.html %}