<section class="share">
    <h3>{{ site.translations.text.share | default: "Share" }}</h3>
    <a aria-label="{{ site.translations.button.share_on_linkedin | default: 'Share on LinkedIn' }}" href="https://www.linkedin.com/in/raffaelechiaverini/"
    onclick="window.open(this.href, 'linkedin-share', 'width=580,height=296');return false;" title="{{ site.translations.button.share_on_linkedin | default: 'Share on LinkedIn' }}">
        <img src="/assets/images/SocialMediaLogo/linkedin-logo.webp" class="icon-social" alt="LinkedIn">
    </a>
    <a aria-label="{{ site.translations.button.share_on_github | default: 'Share on GitHub' }}" href="https://github.com/RaffaChiaverini"
    onclick="window.open(this.href, 'github-share','width=580,height=296');return false;" title="{{ site.translations.button.share_on_github | default: 'Share on GitHub' }}">
        <img src="/assets/images/SocialMediaLogo/github-logo.png" class="icon-social" alt="GitHub">
    </a>
</section>